body, html {
  background-image: url('./images/5143211.webp');
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  padding: 20px 0;
  text-align: center;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  margin: 0 10px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo-container img {
  max-width: 100%;
  max-height: 100%;
}

.logotxt {
  color: #6f84e2;
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
}

footer {
  background-color: #f0f0f0;
  padding: 100px 0;
}

.slider-container {
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  width: auto; /* Adjust width as needed */
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 calc(100% / 3); /* Adjust width based on number of slides */
  padding: 20px;
  box-sizing: border-box;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}


/* Additional styles for footer slides */
.slide.bordered {
  border: 2px solid grey; /* Adjust border style as needed */
}

.color {
  height: 50px;
}

.color1 {
  background-color: #7a5cff; /* Blurred blue-violet */
}

.color2 {
  background-color: #ff69b4; /* Blurred pink */
}

.color3 {
  background-color: #8a2be2; /* Blurred blue-purple */
}

.color4 {
  background-color: #9370db; /* Blurred medium purple */
}

.color5 {
  background-color: #ff7f50; /* Blurred coral */
}

.color6 {
  background-color: #40e0d0; /* Blurred turquoise */
}

.color7 {
  background-color: #ff8c00; /* Blurred dark orange */
}
